<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta content="width=device-width,initial-scale=1.0" name="viewport" />
   <title>MyappMailer</title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body >

   <header>
      <%= render 'layouts/nav'%>
   </header>

      <%= bootstrap_flash %>
   <div class="container">
      <%= yield %>
   </div>

   <footer id="footer-bottom">
    <%= render 'layouts/footer'%>
   </footer>

<script>
$(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
n})
</script>
</body>
</html>


