<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <title>Ralf Design</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body >
    <div id="wrap">
      <header>
        <%= render 'layouts/nav'%>
      </header>
      <section id="main" class="container clear-top">
        <%= bootstrap_flash %>
        <%= yield %>
      </section>
    </div>
    <footer class="footer">
      <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>
